<h2 class="text-3xl font-bold underline text-center p-5">Weather forecast</h2>

<main>
  @for (location of weatherLocations; track location.id) {
  <section class="bg-gray-100 p-4 rounded-lg shadow-md m-4">
    <p class="text-xl font-semibold mb-2">
      {{ location.locationName }}
    </p>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="viewForecastByAcronym(location.id)"
      title="Click to view forecast for {{ location.locationAcronym }}"
    >
      Forecast for {{ location.locationAcronym }}
    </button>
  </section>
  } @empty {
  <span>Empty list of locations</span>
  <h2 class="text-3xl font-bold underline text-center p-5">
    No weather locations available right now
  </h2>
  }
</main>
