<h2 class="text-3xl font-bold underline text-center p-5">Weather forecast</h2>

<main>
  @for (location of weatherLocations; track location.id) {
  <section class="bg-gray-100 p-4 rounded-lg shadow-md m-4 ">
    <p class="text-xl font-semibold mb-2">
      {{ location.locationName }}
    </p>
    <button
      class="bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded"
      (click)="viewForecastByAcronym(location.id)"
      title="Click to view forecast for {{ location.locationAcronym }}"
    >
      Forecast for {{ location.locationAcronym }}
    </button>
  </section>
  } @empty {
  <section class="bg-gray-100 p-4 rounded-lg shadow-md m-4">
    <h4 class="text-3xl font-bold text-center py-5">
      No weather locations available right now
    </h4>
    <p class="font-bold text-center pb-5">
      Retry in a few minutes, otherwise contact our support center.
    </p>
  </section>
  }
</main>
